li.pastor_item {
    font-weight: bold;
}

div.upload_queue {
    border: 1px solid #e5e5e5;
    height: 213px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    overflow: auto;
}

div.upload_queue .uploadifyQueueItem {
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    font: 11px Verdana, Geneva, sans-serif;
    height: 50px;
    margin-top: 0;
    padding: 10px;
    width: 95%;
}

div.upload_queue .uploadifyError {
    background-color: #FDE5DD !important;
    border: none !important;
    border-bottom: 1px solid #FBCBBC !important;
}

div.upload_queue .uploadifyQueueItem .cancel {
    float: right;
}

div.upload_queue .uploadifyQueue .completed {
    color: #C5C5C5;
}

div.upload_queue .uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

div.upload_queue .uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}


div.placeholder {
    border: 1px solid #eeeeee;
    font-size: 36px;
    color: #eeeeee;
}

div.sermon-banner {
    width: 960px;
    height: 540px;
    overflow: hidden;
}

div.series-sermon-details {
    font-size: 10px;
}

li.series-sermon-list-item {
    margin-bottom: 5px;
}

.sermon-attachment-viewer {
    width: 100%;
    height: 400px;
}

.sermon-description, .sermon-passage, .series {
    padding-bottom: 20px;
}

#sermon-passage-text {
    padding-top: 10px;
}

span.sermon-passage-translation {
    font-size: 12px;;
}

div.esv {
}

div.esv a {
    color: #aa1111;
    font-size: 10px;
}

div.esv-text {
    line-height: 130%;
    margin-bottom: 20px;
}

span.chapter-num {
    font-weight: bold;
}

span.verse-num {
    vertical-align: super;
    font-size: 10px;
    line-height: 0px;
}

div.esv h3 {
    padding-bottom: 5px;
    font-weight: bold;
}

div.esv p {
    padding-bottom: 5px;
}

div.footnotes {
    line-height: 120%;
    font-size: 12px;
    color: #acacac;
}

div.footnotes a {
    color: #999999;
}

div.footnotes h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #aa1111;
    padding-bottom: 5px;
    text-shadow: 0px 1px 2px #aaa;
}

span.footnote {
}

span.footnote-ref {
}


/** NOTICES & MESSAGES */
div.validated {
    clear: both;
    color: #fff;
    font-weight: bold;
    background: #0F903F;
}

